.room-code-page {
    max-width: 100%; /* Maximum width of the page container */
    margin: 20px auto; /* Center the page horizontally */
    margin-left: 20px;
    margin-right:20px;
    padding-bottom: 40px;
    padding: 40px; /* Add padding around the content */
    background-color: #f9f9f9; /* Light gray background */
    border-radius: 15px; /* Rounded corners */
    height: 90%;
    box-shadow: 0 4px 20px rgba(0, 0, 0, 0.15); /* Subtle shadow for a lifted effect */
    display: flex;
    align-items: center;
    flex-direction: column;
}

.room-code-box {
    margin-top: 50px;
    border-radius: 15px;
    padding: 0px;
    width: 80%;
    max-width: 600px;
    display: flex;
    flex-direction: column;
}

.room-code {
    display: flex;
    justify-content: space-between;
    font-size: 6rem;
    font-weight: bold;
    color: #5a5a5a
    ;
    background-color: #bebebe;
    border-radius: 15px;
    padding: 30px;
    margin-bottom: 20px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
}

.digit-box {
    width: 100px;  /* Make width smaller for more vertical stretch */
    height: 150px;  /* Increased height for vertical stretch */
    background-color: #ffffff;
    border: 2px solid #393939
    ;
    border-radius: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 6rem;  /* Increase font size for better visibility */
    font-weight: bold;
    color:
    #5a5a5a
    ;
}

.instructions {
    font-size: 1.2rem;
    margin-top: 10px;
    color: #333;
    text-align: center;
}

.copy-button {
    padding: 10px 20px;
    font-size: 1.2rem;
    background-color: #393939
    ;
    color: white;
    border: none;
    border-radius: 8px;
    cursor: pointer;
    margin-top: 20px;
    transition: background-color 0.3s ease;
    align-self: center;
}

.copy-button:hover {
    background-color: 
    #5a5a5a
    ;
}