.header {
    display:flex;
    align-items: center;
    justify-content: space-between;
    padding: 10px 20px;
    background-color: rgb(61, 61, 61);
    color: white;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    width: 100%;


    position: relative;
}

.logo-container {
    display: flex;
    align-items: center;
}

.logo {
    height: 40px;
    margin-right: 10px;
    margin-left: 10px;
}

.title {
    font-size: 1.5rem;
    font-weight: bold;
    color: rgb(229, 227, 227) !important;
}
